.sideMenu {
  width: 296px;
  padding: 32px 0;

  .menu {
    &__item {
      padding: 0 32px;
      border-left: 4px solid transparent;
      transition: all .3s ease;
      .link {
        color: $black;
      }
      &:hover,
      &.active {
        border-color: $success;
        .link {
          color: $success;
        }
      }
    }
  }
}

.logo {
  text-indent:101%; /*首行縮排*/
  overflow:hidden; /*自動隱藏超出的文字或圖片*/
  white-space:nowrap; /*希望元素在第一排上面，沒有斷行*/
  background-image: url('../images/logo-ANSWER.svg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 151px;
  height: 40px;
  margin-bottom: 32px;
  margin-left: 32px;
}