// pagination
.pagination {
  border-radius: 2px 0 0 2px;
  .page-link {
    border: 1px solid $success;
    &--icon {
      padding: 2px 4px 0px 4px;
      color: $success;
    }
    &--num {
      color: $dark;
    }

    &:hover {
      background-color: $success;
      color: $white;
    }
    &.active {
      background-color: $success;
      color: $white;
    }
  }
}

.modal-title {
  line-height: 33px;
}

.dividedLine {
  background-color: $gray-400;
  margin-top: 24.5px;
  margin-bottom: 24.5px;
}


// form check
.form-check-input:checked {
  background-color: $success;
  border-color: $success;
}

.form-check-input {
  border: 1px solid $dark;
}