// left 
.assignmentList {
  width: 35%;
}

.assignmentCard {
  width: 65%;
  .btn--hover {
    transition: all .3s ease;
    &:hover {
      background-color: $gray-300;
    }
  }
}

// edit area
.editText {
  &::-webkit-input-placeholder {
    color: $secondary;
  }
  &:focus-visible {
    outline: 0;
  }
}

