// left 
.assignmentList {
  width: 35%;
}

.assignmentCard {
  width: 65%;
}

// edit area
.editText {
  &::-webkit-input-placeholder {
    color: $secondary;
  }
  &:focus-visible {
    outline: 0;
  }
}

