



// extra line-height
.lh-24 {
  line-height: 24px;
}

.lh-21 {
  line-height: 21px;
}

.lh-33 {
  line-height: 33px;
}

// extra spacing
.mb-18 {
  margin-bottom: 1.125rem;
}

.mb-20 {
  margin-bottom: 1.25rem;
}



// extra font size
.fs-12 {
  font-size: .75rem;
}




// img
.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}


// icon
.iconRotated {
  transform: rotate(270deg);
}

// navbar
.navbar--style {
  padding-top: 25px;
  .navbar__logo {
    font-size: 24px;
    color: $gray-900;
    font-weight: 800;
    line-height: 33px;
  }
  .navLink--hover {
      transition: all .3s ease;
      color: $dark;
      padding-top: 5px;
      &:hover {
        color: $success;
      }
    }
}

// border radius
.border-radius-2 {
  border-radius: 2px;
}

// pointer
.handPointer {
  cursor: pointer;
}